<!-- <div class="chat-head chat-head-chatbox row no-gutters"> -->
    <!-- <div class="chatbox-navback"><i class="fa fa-arrow-left"></i></div> -->
    <!-- <div class="chatbox-title">
        <div class="row no-gutters">
            {[ if (o.type !== o._converse.HEADLINES_TYPE) { ]}
                <canvas class="avatar" height="36" width="36"></canvas>
            {[ } ]}
            <div class="col chat-title" title="{{{o.jid}}}">
                {[ if (o.url) { ]}
                    <a href="{{{o.url}}}" target="_blank" rel="noopener" class="user">
                {[ } ]}
                        {{{ o.display_name }}}
                {[ if (o.url) { ]}
                    </a>
                {[ } ]}
                <p class="user-custom-message">{{{ o.status }}}</p>
            </div>
        </div>
    </div> -->
    <!-- <div class="chatbox-buttons row no-gutters">
        <a class="chatbox-btn close-chatbox-button fa fa-times" title="{{{o.info_close}}}"></a>
        <a class="chatbox-btn show-user-details-modal fa fa-id-card" title="{{{o.info_details}}}"></a>
    </div> -->
<!-- </div> -->
<!-- <div class="chatbox-navback"><i class="fa fa-arrow-left"></i></div> -->
<div class="top-toolbar">
        <div class="container-fluid">
            <div class="row">
                <!-- <div class="col-sm-6 room-description">
                    <div class="container-fluid">
                        <div class="row channel-name">
                            #Announcements
                        </div>
                        <div class="row channel-summary">
                                <ul class="m-0 pl-0 d-block list-unstyled channel-info">
                                <li class="favorite-star">
                                    <span class="favorite"><i class="fas fa-star"></i></span>
                                </li>
                                <li class="favorite-user">
                                    <span class="mr-1 ">13</span>
                                    <i class="far fa-user"></i>
                                </li>
                                <li class="favorite-channel">
                                    <span class="channel-desc ">Company-wide announcements and work-based
                                        matters</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </div> -->
                <div class="col">
                    <div class="col-12 chat-title" title="{{{o.jid}}}">
                            {[ if (o.type !== o._converse.HEADLINES_TYPE) { ]}
                            <!-- <canvas class="avatar" height="36" width="36"></canvas> -->
                            {[ } ]}
                        <!-- {[ if (o.url) { ]}
                            <a href="{{{o.url}}}" target="_blank" rel="noopener" class="user">
      
                                
                        
                            </a>
                        {[ } ]} -->
                        <div class="box-display-name">
                            {{{ o.display_name }}}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="col-auto">
                                <div class="d-flex xmpp-status">
                                    <span class="{{{o.show}}} w-100 align-self-center" data-value="{{{o.show}}}">
                                        <span class="
                                            {[ if (o.show === 'online') { ]} fa fa-circle chat-status chat-status--online{[ } ]}
                                            {[ if (o.show === 'dnd') { ]} fa fa-minus-circle chat-status chat-status--busy {[ } ]}
                                            {[ if (o.show === 'away') { ]} fa fa-circle chat-status chat-status--away{[ } ]}
                                            {[ if (o.show === 'xa') { ]} fa fa-circle chat-status chat-status--xa {[ } ]}
                                            {[ if (o.show === 'offline') { ]} fa fa-circle chat-status chat-status--offline{[ } ]}">

                                            {[ if (o.show === 'online') { ]} Active {[ } ]}
                                            {[ if (o.show === 'dnd') { ]} Busy {[ } ]}
                                            {[ if (o.show === 'away') { ]} Away {[ } ]}
                                            {[ if (o.show === 'xa') { ]} Away for long {[ } ]}
                                            {[ if (o.show === 'offline') { ]} Offline {[ } ]}
                                        </span>
                                            <!-- {{{o.status_message}}}-->
            
                                    </span>
                                        <!-- <span>{{{o.status_message}}}</span> -->
                                        <!-- <a class="controlbox-heading__btn change-status fa fa-pencil-alt" title="{{{o.title_change_status}}}" data-toggle="modal" data-target="#changeStatusModal"></a> -->
                                </div>
                        </div>
                        <div class="col">
                                {[ if (o.role !== '') { ]} | {{{o.role}}} {[ } ]}
                            
                        </div>
                    </div>
                </div>
                <div class="col-auto room-controls">
                    <ul class="top-toolbar-menu">
                    </ul>
                    <div class="chatbox-buttons">
                        <a class="chatbox-btn show-user-details-modal fa fa-id-card" title="{{{o.info_details}}}"></a>
                        <a class="chatbox-btn close-chatbox-button fa fa-times" title="{{{o.info_close}}}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

