<div class="flyout box-flyout">
        
    <div class="chat-head chat-head-chatroom row no-gutters"></div>
        <div class="top-toolbar">
            toolbar upeet
            <ui class="top-toolbar-manu">
                <li class="top-toolbar-video-cal">
                    <i class="fa fa-video"></i>
                </li>
                <li class="top-toolbar-audio-cal">
                    <i class="fa fa-phone"></i>
                </li>
                <li class="top-toolbar-file-attach">
                    <i class="fa fa-paperclip"></i>
                </li>
            </ui>
        </div>
    <div class="chat-body chatroom-body row no-gutters">
        <div class="disconnect-container hidden"></div>
    </div>
</div>
