<!-- <div class="chat-head chat-head-chatbox row no-gutters"> -->
    <!-- <div class="chatbox-navback"><i class="fa fa-arrow-left"></i></div> -->
    <!-- <div class="chatbox-title">
        <div class="row no-gutters">
            <canvas class="avatar" height="36" width="36"></canvas>
            <div class="col chat-title" title="{{{o.jid}}}">
                {[ if (o.url) { ]}
                    <a href="{{{o.url}}}" target="_blank" rel="noopener" class="user">
                {[ } ]}
                        {{{ o.nickname || o.fullname || o.jid }}}
                {[ if (o.url) { ]}
                    </a>
                {[ } ]}
                <p class="user-custom-message">{{{ o.status }}}</p>
            </div>
        </div>
    </div> -->
    <!-- <div class="chatbox-buttons row no-gutters">
        <a class="chatbox-btn close-chatbox-button fa fa-times" title="{{{o.info_close}}}"></a>
        <a class="chatbox-btn show-user-details-modal fa fa-id-card" title="{{{o.info_details}}}"></a>
    </div> -->
<!-- </div> -->
<div class="top-toolbar">
        <div class="container-fluid">
            <div class="row">
                <!-- <div class="col-sm-6 room-description">
                    <div class="container-fluid">
                        <div class="row channel-name">
                            #Announcements
                        </div>
                        <div class="row channel-summary">
                                <ul class="m-0 pl-0 d-block list-unstyled channel-info">
                                <li class="favorite-star">
                                    <span class="favorite"><i class="fas fa-star"></i></span>
                                </li>
                                <li class="favorite-user">
                                    <span class="mr-1 ">13</span>
                                    <i class="far fa-user"></i>
                                </li>
                                <li class="favorite-channel">
                                    <span class="channel-desc ">Company-wide announcements and work-based
                                        matters</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </div> -->
                <div class="col-sm-6"></div>
                <div class="col-sm-6 room-controls">
                    <ul class="top-toolbar-menu">
                    </ul>
                    <div class="chatbox-buttons">
                        <a class="chatbox-btn show-user-details-modal fa fa-id-card" title="{{{o.info_details}}}"></a>
                        <a class="chatbox-btn close-chatbox-button fa fa-times" title="{{{o.info_close}}}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

