<div class="flyout box-flyout">
    <div class="chat-body">
        <div class="top-toolbar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 room-description">
                        <div class="container-fluid">
                            <div class="row channel-name">
                                #Announcements
                            </div>
                            <div class="row channel-summary">
                                    <ul class="m-0 pl-0 d-block list-unstyled channel-info">
                                    <li class="favorite-star">
                                        <span class="favorite"><i class="fas fa-star"></i></span>
                                    </li>
                                    <li class="favorite-user">
                                        <span class="mr-1 ">13</span>
                                        <i class="far fa-user"></i>
                                    </li>
                                    <li class="favorite-channel">
                                        <span class="channel-desc ">Company-wide announcements and work-based
                                            matters</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        </div>
                    <div class="col-sm-6 room-controls">
                        <ul class="top-toolbar-menu">
                            <li class="top-toolbar-video-cal">
                                <i class="fa fa-video"></i>
                            </li>
                            <li class="top-toolbar-audio-cal">
                                <i class="fa fa-phone"></i>
                            </li>
                            <li class="top-toolbar-file-attach">
                                <i class="fa fa-paperclip"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-content {[ if (o.show_send_button) { ]}chat-content-sendbutton{[ } ]}" aria-live="polite"></div>
        <div class="message-form-container"></div>
    </div>
</div>
