<div class="modal fade" id="ring-modal" tabindex="-1" role="dialog" aria-labelledby="ring-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="ring-modal-label">
                    {{{o.__('Calling From')}}}  {{{o.from}}}
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-title" id="ring-modal-sublabel">
                    <a href="#" class="fa fa-phone accept-call" style="font-size:48px;color:green"></a>
                    <a href="#" class="fa fa-phone reject-call" style="font-size:48px;color:red"></a>

                </div>
             
                
            </div>
        </div>
    </div>
</div>
